/*==============================================================
Styles by Roger Sullivan and Shonna Godoy at Keystone Resources
===============================================================*/

/* Example retina background images:
background: url('/assets/img/elements/footer_payonline_26x30.png') center center no-repeat transparent;
.at2x('/assets/img/elements/footer_payonline_26x30', 'png', 26px, 30px);
*/

// Universal ------------------

body{
  overflow-x: hidden;
  font-family: @font-family-base;
  font-size: 18px;
}  

h1{
	color: @bgMedTeal;
	font-family: @font-family-serif;
	font-style: italic;
	font-weight: 700;
	font-size: 36px;
	margin-bottom: 20px;
}


h2{
	color: @bgMedBrown;
  font-weight: 700;
  font-size: 26px;
  text-transform: uppercase; 
  font-family: @font-family-sans-serif;
}

p{
	color: @bgDarkBrown; 
	line-height: 34px;
	-webkit-font-smoothing: antialiased;
	margin-bottom: 30px;
}

ul{
  li{
    list-style-type:none;
    padding-bottom: 10px;
  }
}

a{
	color: @bgMedTeal;
	text-decoration:none;
	&:hover,
	&:active{
		color: @bgDarkMedTeal;
		text-decoration:none;
	}
}

form{
	input[type="text"],
	textarea{
		width: 90%;
		border: 0;
		background: url('/assets/img/elements/bg_tan_276x276.png') center center;
    .at2x('/assets/img/elements/bg_tan_276x276', 'png', 276px, 276px);
    background-color: @bgLightMedBeige;
    padding: 4px 6px;
    color: @bgDarkBrown;
    @media(max-width:590px){
	    width: 100%;
    }
	}
	label{
		font-family: @font-family-sans-serif;
		text-transform:uppercase;
		-webkit-font-smoothing: antialiased;
		margin-top:7px;
	}
  .success{
    color: @bgMedTeal;
  }
  .error{
    color: @bgBrightOrange; 
  }
  .success,
  .error{
	  text-transform: none !important;
	  font-size: 14px !important;
  }
}

.general_button{
	background-color: @bgMedTeal;
	border: 0;
	border-bottom: 5px solid @bgDarkMedTeal;
	font-family: @font-family-sans-serif;
	color: @bgLightBeige;
	text-transform: uppercase;
	color: white;
  padding: 9px 13px 5px 13px;
  font-weight: 500;
  text-decoration:none;
  &:hover,
  &:active{
    color: @bgLightBeige;
    text-decoration:none; 
  }
}

.social_media_icons{
  a{
    width: 45px;
    height: 35px;
    display:inline-block;
    &.facebook{
      background: url('/assets/img/elements/footer_social_facebook_35x35.png') center center no-repeat transparent;
      .at2x('/assets/img/elements/footer_social_facebook_35x35', 'png', 35px, 35px);
    }
    &.instagram{
      background: url('/assets/img/elements/footer_social_instagram_35x35.png') center center no-repeat transparent;
      .at2x('/assets/img/elements/footer_social_instagram_35x35', 'png', 35px, 35px);
    }
    &.twitter{
      background: url('/assets/img/elements/footer_social_twitter_35x35.png') center center no-repeat transparent;
      .at2x('/assets/img/elements/footer_social_twitter_35x35', 'png', 35px, 35px);
    }
  }
}

.donate_button{
  display: none;
  position:absolute;
  right:0;
  background-color: @bgBrightOrange;
  border-bottom: 5px solid @bgDarkOrange;
  text-transform: uppercase;
  color: white;
  z-index:5000;
  padding: 9px 13px 5px 13px;
  font-family: @font-family-sans-serif;
  font-weight: 500;
  text-decoration:none;
  &:hover,
  &:active{
    color: @bgLightBeige;
    text-decoration:none;
  }
  @media(max-width:722px){
    font-size: 14px;
    padding: 5px 10px 3px 10px;
    margin-top:-15px;
  }
}

#general{ 
  h1 + p{
    background: url('/assets/img/elements/border_orange_3x150.png') left top no-repeat transparent;
    .at2x('/assets/img/elements/border_orange_3x150', 'png', 3px, 150px); 
  } 
  p{
	  padding-left:30px;
  }
}

.general{ 
  border-bottom: 5px solid @bgMedBeige;
  padding-bottom: 20px;
  padding-top: 30px;
  @media(max-width:722px){
    padding-bottom: 10px;
    padding-top: 20px;
  }
  &.light{
     background: url('/assets/img/elements/bg_cream_276x276.png') center center;
    .at2x('/assets/img/elements/bg_cream_276x276', 'png', 276px, 276px);
     background-color:@bgLightBeige;
  }
  &.dark{
     background: url('/assets/img/elements/bg_tan_276x276.png') center center;
    .at2x('/assets/img/elements/bg_tan_276x276', 'png', 276px, 276px);
    background-color:@bgLightMedBeige;
  }
  h1{
    position:relative;
    z-index:100;
  }
}


header{
	background: url('/assets/img/elements/bg_cream_276x276.png') center center;
	.at2x('/assets/img/elements/bg_cream_276x276', 'png', 276px, 276px);
	background-color: @bgLightBeige;
	border-bottom: 5px solid @bgMedBrown;
	.logo{
		background: url('/assets/img/elements/header_logo_359x97.png') center center no-repeat transparent;
	  .at2x('/assets/img/elements/header_logo_359x97', 'png', 359px, 97px);
	  width: 359px;
	  height: 97px;
	  display:block;
	  margin: 10px auto 20px auto;
	}
	ul{
		padding: 0;
		margin: 0;
		text-align:center;
		li{
			padding: 0;
			margin: 0 0 -5px 0;
			list-style-type:none;
			display:inline-block;
			a{
				color: @bgLightBrown;
				text-transform: uppercase; 
				font-family: @font-family-sans-serif;
				padding: 15px 20px 13px 20px;
				display:block;
				position: relative;
				z-index: 500;
				text-decoration:none;
				@media(max-width:970px){
					padding: 15px 10px;
				}
				@media(max-width:940px){
					padding: 15px 6px;
					font-size: 17px;
				}
				&:hover,
				&:active{
					color: @bgMedTeal;
					text-decoration:none;
				}
			}//a
			&.active{
				margin-bottom: -5px;
				a{
					color: white;
					background-color: @bgMedTeal;
					border-bottom: 5px solid @bgDarkMedTeal;
					margin-bottom: -5px;
					&:hover,
					&:active{
						text-decoration:none;
						color: white;
					}
				}//a
			}//.active
		}//li
	}//ul
	.snap-trigger-left{
		background: url('/assets/img/elements/mobile_navlines_56x34.png') center center no-repeat transparent;
		.at2x('/assets/img/elements/mobile_navlines_56x34', 'png', 56px, 34px);
		width: 50px;
		height: 30px;
		background-color: @bgMedBrown;
		cursor: pointer;
		border-radius: 5px;
		position:absolute;
		top: -113px;
		&:hover{
			background-color: @bgLightBrown;
		}
	}//trigger
}


#home_slider{
	background-color:@bgMedBrown;
	border-bottom: 5px solid @bgMedBrown;
	@media(max-width:722px){
	  border-bottom: 0;
	}
	.slider{
		max-height: 374px;
		overflow:hidden;
		.slide{
			width: 100%;
			img{
				width: 100%;
				margin: 0 auto;
			}
			.container{
				position: absolute;
				z-index: 300;
				top: 5%;
				font-size: 40px;
				line-height: 45px;
				font-family: @font-family-serif;
				color: white;
				font-weight: 300;
				-webkit-font-smoothing: antialiased;
				max-width: 940px; 
				margin: 0 auto;
				left: 0;
				right: 0;
				display:block;
				max-width: 1200px;
				@media(max-width:1170px){
					max-width: 970px;
					font-size: 38px;
					line-height: 42px;
				}
				@media(max-width:975px){
  				top: 15%;
					font-size: 36px;
					line-height: 40px;
				}
				@media(max-width:939px){
  				top: 15%;
					font-size: 34px;
					line-height: 38px;
				}
				@media(max-width:890px){
  				top: 15%;
					font-size: 32px;
					line-height: 38px;
				}
				@media(max-width:722px){
					background-color: @bgMedBrown;
					position:relative;
					top: 0;
					padding: 10px 15px;
					font-size: 22px;
					line-height: 28px;
				}
			}
		}//slide
	}//slider
	.pager{
		margin-top: -35px;
		position: relative;
		z-index: 400; 
		a{
			background: url('/assets/img/elements/home_slider_nav_12x24.png') center bottom no-repeat transparent;
			.at2x('/assets/img/elements/home_slider_nav_12x24', 'png', 12px, 24px);
			width: 20px;
			height: 12px;
			display: block;
			float: left;
			&:hover, 
			&.cycle-pager-active{
				background-position: center top;
			}
		}
		@media(max-width:722px){
			margin-top: 0;
		}
	}//pager
}


#home_top{
	background: url('/assets/img/elements/bg_cream_276x276.png') center center;
	.at2x('/assets/img/elements/bg_cream_276x276', 'png', 276px, 276px);
	border-bottom: 5px solid @bgMedBeige;
	padding-bottom: 60px;
	@media(max-width:722px){
	  padding-bottom: 40px;
	}
	h1{
	  position:relative;
	  z-index:100;
	}
	p{
		border-left: 3px solid @bgBrightOrange;
		padding-left: 30px;
		position:relative;
		z-index: 100;
	}
	.donate_button{
		margin-top:35px;
	}
	.col-lg-9{
	  margin-top: 50px;
	} 
	.col-lg-8{
	  margin-top: 80px;
	  @media(max-width:722px){
	     margin-top: 20px; 
     }
	}
	img{
	  position:absolute;
	  z-index:50;
	  @media(max-width:722px){
	    opacity: 0.15;
      filter: alpha(opacity=15);
	  }
	  &.flower1{
	    right: -380px;
	    top:0;
	    @media(max-width:939px){
        right: -350px;
      }
	    @media(max-width:722px){
        right:-30px;
        top: -80px;
      }
	  }
	  &.flower2{
	    left: -450px;
	    top:-120px; 
	    @media(max-width:939px){
        left: -400px;
      }
	    @media(max-width:722px){
        top: -80px;
        left: -10px;
        opacity: 0.1;
        filter: alpha(opacity=10);
      }
	  }//img
	}
}

#home_bottom{
  background: url('/assets/img/elements/bg_tan_276x276.png') center center;
  .at2x('/assets/img/elements/bg_tan_276x276', 'png', 276px, 276px);
  padding-top: 45px;
  padding-bottom: 20px;
  @media(max-width:722px){
    padding-top: 50px;
    padding-bottom:10px;
  }
  a{
      color: @bgMedBrown;
      font-family: @font-family-serif;
      font-style: italic;
      font-weight: 700;
      font-size: 34px; 
      padding-bottom: 15px;
      display:block;
      padding-top: 150px;
      text-decoration:none;
      &:hover,
      &:active{
        text-decoration:none;
        color: @bgMedTeal;
      }
      &.cta1{
        background: url('/assets/img/elements/home_cta3_130x130.png') center top no-repeat transparent;
        .at2x('/assets/img/elements/home_cta3_130x130', 'png', 130px, 130px);
        @media(max-width:590px){
          background-position: center 5px;
        }
      }
      &.cta2{
        background: url('/assets/img/elements/home_cta2_130x130.png') center top no-repeat transparent;
        .at2x('/assets/img/elements/home_cta2_130x130', 'png', 130px, 130px);
      }
      &.cta3{
        background: url('/assets/img/elements/home_cta1_130x130.png') center top no-repeat transparent;
        .at2x('/assets/img/elements/home_cta1_130x130', 'png', 130px, 130px);
      }
      @media(max-width: 800px) and (min-width:591px){
        font-size: 28px;
      }
      @media(max-width:590px){
        padding-top:140px;
        text-align:center;
        padding-bottom: 3px;
      }
  }
  p{
    border-left: 3px solid @bgGreen;
    padding-left: 30px;
    @media(max-width: 800px) and (min-width:591px){
        padding-left: 15px;
        line-height: 30px;
        font-size: 16px;
      }
      @media(max-width:590px){
        margin-bottom: 30px;
      }
  }
}

/*
#about_top{
  p{
    border-left: 3px solid @bgBrightOrange;
    padding-left: 30px;
  }
}
*/

#about_middle{
  font-weight:bold;
  padding-bottom: 40px;
  ul{
     padding-left: 0;
     margin-bottom: 0;
     position:relative;
     z-index: 100;
    @media(max-width:722px){
      width: 50%;
    }
    &:first-child{
      background: url('/assets/img/elements/border_orange_3x150.png') left top no-repeat transparent;
      .at2x('/assets/img/elements/border_orange_3x150', 'png', 3px, 150px);
      padding-left:30px;
      padding-right: 30px;
    }
   @media(max-width:940px){
      padding-left:30px;
    }
    @media(max-width:550px){
      width: 100%;
    }
    li{
      list-style-type:none;
      width: 100% !important;
      em{
        font-style: normal !important;
        font-weight: 300;
      }
    }//li
  }//ul
  .flower3{
      opacity: 0.8;
      filter: alpha(opacity=80);
      position:absolute;
      bottom: -86px;
      left: -440px;
      z-index: 50;
      @media(max-width:1169px){
        left: -280px;
      }
      @media(max-width:722px){
         opacity: 0.3;
          filter: alpha(opacity=30);
          right: -100px;
          top: -400px; 
          left: auto;
      }
      @media(max-width:450px){
        left:0; 
      }
  }//img
  .donate_button{
    @media(max-width:830px){
      margin-top:-25px;
    }
    @media(max-width:722px){
      margin-top:-15px;
    }
  }//.donate_button
  .col-lg-6{
    &:first-child ul{
      width: 100%;
      background: url('/assets/img/elements/border_orange_3x150.png') left top no-repeat transparent;
      .at2x('/assets/img/elements/border_orange_3x150', 'png', 3px, 150px);
      padding-left:30px; 
    }
  }//col6
}

#about_bottom{
  .col-lg-6{
    &:first-child p{
      background: url('/assets/img/elements/border_orange_3x150.png') left top no-repeat transparent;
      .at2x('/assets/img/elements/border_orange_3x150', 'png', 3px, 150px);
    }
    p{
       padding-left:30px;
    }
  }//col-6
}

#garden_slider{
  text-align: center;
  border-bottom: 5px solid @bgMedBeige;
  background: url('/assets/img/elements/bg_tan_276x276.png') center center;
   .at2x('/assets/img/elements/bg_tan_276x276', 'png', 276px, 276px);
   background-color:@bgLightMedBeige;
  .slider{
    border-bottom: 5px solid @bgDarkBrown; 
    max-height: 374px;
		overflow:hidden;
  }
  img{
    width: 100%;
    margin: 0 auto;
  }
  .arrow{
    width: 7%;
    height: 39px;
    display:inline-block;
    vertical-align: top;
    margin-top: 35px;
    background: url('/assets/img/elements/botanicgardens_arrows_39x78.png') no-repeat transparent;
    .at2x('/assets/img/elements/botanicgardens_arrows_39x78', 'png', 39px, 78px);
    cursor:pointer;
    @media(max-width:723px){
      margin-top: 15px;
    }
    @media(max-width:630px){
      background: url('/assets/img/elements/botanicgardens_arrows_small_20x39.png') no-repeat transparent;
    .at2x('/assets/img/elements/botanicgardens_arrows_small_20x39', 'png', 20px, 39px);
      height: 20px;
      width: 20px;
      margin-top:25px;
    }
    @media(max-width:420px){
      margin-top: 10px;
    }
    &.prev{
      background-position: left top; 
    }
    &.next{
      background-position: right bottom;
    }
  }
  .pager{
    display:inline-block;
    width: 84%;
    margin: 0 0 -10px 0;
    @media(max-width:723px){
      margin: 0 0 -5px 0;
    }
    @media(max-width:630px){
      width: 80%;
    }
    a{
      font-size: 80px;
      color: @bgLighterBrown;
      font-family: @font-family-serif;
      text-decoration:none;
      display:inline-block;
      width: 16.66%;
      &.cycle-pager-active{
        background-color: @bgMedTeal;
        border-bottom: 5px solid @bgDarkMedTeal;
        margin-bottom: -15px; 
        &:hover,
        &:active{
          color: @bgLighterBrown;
        }
      }
      &:hover,
      &:active{
        color: @bgMedTeal;
        text-decoration:none;
      }
      @media(max-width:723px){
        font-size: 50px;
        width: 15%;
      }
      @media(max-width:420px){
        font-size: 30px;
      }
    }
  }//pager
}

#garden_top{
  .sliderContent{
    display: none;
    &.slide1{
      display: block;
    }
  }
  .donate_button{
    margin-top: 0;
  }
}

#garden_top,
#garden_middle,
#garden_bottom{
  h1 + p{
    background: url('/assets/img/elements/border_orange_3x150.png') left top no-repeat transparent;
     .at2x('/assets/img/elements/border_orange_3x150', 'png', 3px, 150px);
  } 
  p{
    padding-left: 30px;
    position:relative;
    z-index:100;
  }
  .flower4,
  .flower5{
    opacity: 0.25;
     filter: alpha(opacity=25);
     position:absolute;
     z-index:50;
  }
  .flower4{
    right: 0;
    top: -56px;
    @media(max-width:722px){
      top: -45px;
    }
  }
  .flower5{
    left: -50px;
    bottom: -58px;
  }
}

#site_map,
#fund_tracker{
	background: url('/assets/img/elements/bg_green_276x276.png') center center;
  .at2x('/assets/img/elements/bg_green_276x276', 'png', 276px, 276px); 
  background-color: @bgGreen;
  border-bottom: 5px solid @bgDarkBrown;
	img{
		margin: 0 auto;
		display:block;
		max-width: 100%;
	}
}

#site_top,
#site_bottom,
#fund_top,
#fund_middle,
#fund_bottom,
#about_top{
  h1 + p{
    background: url('/assets/img/elements/border_orange_3x150.png') left top no-repeat transparent;
    .at2x('/assets/img/elements/border_orange_3x150', 'png', 3px, 150px); 
  } 
  p{
	  padding-left:30px;
  }
}

#contact_top,
#news_top{
	h1{
		margin-top: 15px;
	}
}

#news_bottom{
	.post,
	.article{
		.info{
			border-left: 3px solid @bgBrightOrange;
			padding-left: 30px;
			margin-bottom:30px;
			h2{
				a{
					color: @bgMedBrown;
					text-decoration:none;
					&:hover,
					&:active{
						color: @bgMedTeal;
						text-decoration:none;
					}
				}
			}
			.date{
				font-family: @font-family-sans-serif;
				color: @bgMedBrown;
				font-size: 20px;
			}//date
		}//info 
		.desc{
			background-color: white;
			padding: 30px 35px;
			margin-bottom:40px;
			p{
				margin: 0;
			}
		}//desc
		img{
			border:3px solid @bgMedBeige;
			width: 100%;
		}
	}//post
	.back_button{
		float:right;
		@media(max-width:722px){
			float:none;
		}
	}
	.article{
		.info{
			margin-top: 10px;
			@media(max-width:722px){
				padding-left:15px;
				margin-top: 20px;
				.date{
					border-right: 3px solid @bgBrightOrange;
					padding-right: 15px;
					margin-right: 12px;
				}
			}
		}//info
	}//article
	ul.datenav{
		background: url('/assets/img/elements/border_orange_3x150.png') left top no-repeat transparent;
    .at2x('/assets/img/elements/border_orange_3x150', 'png', 3px, 150px);
    margin: 20px 0 0 0;
    font-size: 20px;
    font-family: @font-family-sans-serif;
		li.arc-row{
			margin-left: 15px;
			a{
				color: @bgDarkBrown;
				font-family: @brandon;
				&:hover,
				&:active,
				&:focus{
					color: @bgDarkMedTeal;
					text-decoration: none;
				}
			}
			&.active a{
				font-style: italic; 
				color: @bgDarkMedTeal;
			}
		}
		li.active{
			 color: @bgDarkMedTeal;
		}
	}//datenav
}


#contact_bottom{
	color: @bgLightBrown;
	address{
		border-left: 3px solid @bgBrightOrange;
		padding-left: 30px;
		line-height: 30px;
		font-family: @font-family-sans-serif;
		font-size: 20px;
		@media(max-width:722px){
			padding-left:15px;
		}
		h2{
			@media(max-width:870px){
				font-size: 23px;			
			}
			@media(max-width:800px){
				font-size: 20px;			
			}
			@media(max-width:722px){
				font-size: 17px;			
			}
			@media(max-width:590px){
				font-size: 23px;			
			}
		}
	}
	.general_button{
		margin-top:30px;
		margin-bottom: 30px;
	}
	.donate_button{
		margin-top:-25px;
		@media(max-width:722px){
			margin-top:-15px;
		}
	}
	form{
		margin-top:13px;
	}
}


#footer_top{
  background-color: @bgDarkTeal;
  ul{
    margin: 0;
    padding: 0;
    text-align:center;
    li{
       margin: 0;
       padding:0;
       display:inline-block;
       list-style-type:none;
      a{
        color: white;
        text-transform: uppercase; 
        font-family: @font-family-sans-serif;
        padding: 17px 20px;
        display:block;
        @media(max-width:970px){
          padding: 17px 10px;
        }
        @media(max-width:940px){
          padding: 17px 6px;
          font-size: 17px;
        }
        &:hover,
        &:active{
          color: @bgMedBeige;
          text-decoration:none;
        }
      }
      &.active a{
       font-weight: 500;
      }
    }//li
  }//ul
  .back_to_top{
    color:white;
    padding: 9px 0;
    display: none;
    float:right; 
    font-size:15px;
    &:hover,
    &:active{
      color: @bgMedBeige;
      text-decoration: none; 
    }
  }
}

#footer_bottom{
   background: url('/assets/img/elements/bg_blue_276x276.png') center center;
  .at2x('/assets/img/elements/bg_blue_276x276', 'png', 276px, 276px);
  color: white;
  line-height: 34px;
  -webkit-font-smoothing: antialiased;
  padding-top: 60px; 
  img{
    max-width: 100%;
    @media(max-width:589px){
      position:absolute;
      top:10px;
      right: 15px;
    }
  }
  @media(max-width:722px){
      font-size: 16px;
      padding-top: 50px;
    }
  .col-lg-5{
    padding-left: 30px;
    @media(max-width:722px){
      padding-left: 15px;
    }
    .social_media_icons{
      margin: -10px  0 0 0;
      a{
        margin-left:-5px;
      }
    }
  }//col5
  a{
    color: white;
    text-decoration:none;
    &:hover,
    &:active{
      color: @bgMedBeige;
      text-decoration: none;
    }
  }//a
  .copyright{
    padding-top: 50px;
    padding-bottom: 35px;
    font-size:  14px;
    a{
      font-weight:bold;
    }
    @media(max-width:722px){
      padding-top: 45px;
      padding-bottom: 20px;
    }
  }//copyright
}



// Mobile Navigation Drawer  -------------------
#content_container {
  background-color: white;
  &.active{
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    overflow-y: visible;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

  }
  &.open-left{
    position: absolute;
    border-left: 1px solid gray;
    overflow-x: hidden;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  &.overflowx{
    overflow-x: hidden;
  }
}

.snap-drawers{
  display: none;
  background: white;
  position: absolute;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: 100%;
  .snap-drawer{
    background-color: @bgLightBeige;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    overflow: auto;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: width 0.3s ease;
       -moz-transition: width 0.3s ease;
        -ms-transition: width 0.3s ease;
         -o-transition: width 0.3s ease;
            transition: width 0.3s ease;
    ul{
      padding: 0;
      margin: 0;
      list-style-type: none;
      li{
        padding: 0;
        &.active{
          a,
          a:active,
          a:visited,
          a:focus,
          a:hover{
            color: white;
            background-color: @bgDarkMedTeal;
          }
          ul li a{
            background-color: white;
            color: blue;
            &:hover,
            &:active{
              color: @bgDarkMedTeal;
            }
          }
          ul li.active a{
            color: white;
            background-color: @bgDarkMedTeal;
          }
        }
        ul{
          li{
            a{
              color: @bgDarkMedTeal;
              padding-left: 30px;
              font-weight: normal;
            }
            &.active a{
              //background-color: @gray-lighter;
              color: @bgBrightOrange;
            }
          }
        }
        a{
          color: @bgDarkMedTeal;
          font-weight: bold;
          display: block;
          padding: 10px 15px;
          border-bottom: 1px solid @bgDarkBrown;
          &:hover,
          &:active{
            color: @bgDarkOrange;
            text-decoration: none;
          }
        }//a
      }//li
    }//ul
    &.snap-drawer-left{
      left: 0;
      z-index: 2;
    }
  }//snap_drawer
}//snap_drawers