			<footer>
				<div id="footer_top">
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								[[Wayfinder? &startId=`0` &level=`1` &outerClass=`hidden-sm hidden-xs`]]
								<a href="#top" class="back_to_top visible-sm visible-xs">Back to Top</a>
							</div><!--/.col12-->
						</div><!--/.row-->
					</div><!--/.container-->
				</div><!--/.footer_top-->
				<div id="footer_bottom">
					<div class="container">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-ms-4 col-sm-5">
  							[[++site_name]]<br />
								[[++location_address]]<br />
								[[++location_city]], [[++location_state]] [[++location_zip]]
								<img src="/assets/img/elements/footer_logo_80x101.png" alt="APGA Logo" title="APGA" class="visible-xs" />
							</div><!--/.col4-->
							<div class="col-lg-5 col-md-5 col-ms-5 col-sm-5">
								[[++location_phone]]<br />
								<a href="mailto:[[++location_email]]">[[++location_email]]</a>
								<div class="social_media_icons">
  								[[++social_facebook:notempty=`<a href="[[++social_facebook]]" class="facebook text-hide" title="Facebook" target="_blank">Facebook</a>`:default=``]]
									[[++social_twitter:notempty=`<a href="[[++social_twitter]]" class="twitter text-hide" title="Twitter" target="_blank">Twitter</a>`:default=``]]
									[[++social_instagram:notempty=`<a href="[[++social_instagram]]" class="instagram text-hide" title="Instagram" target="_blank">Instagram</a>`:default=``]]
								</div>
							</div><!--/.col5-->
							<div class="col-lg-3 col-md-3 col-ms-3 col-sm-2 hidden-xs">
								<img src="/assets/img/elements/footer_logo_80x101.png" alt="APGA Logo" title="APGA" />
							</div><!--/.col3-->
						</div><!--/.row-->
						<div class="row">
							<div class="col-lg-12 copyright">
								&copy; [[++site_name]] [[thisYear]]. All rights reserved. <a href="[[~9]]">Privacy policy</a>. Site design by <a href="http://www.keystoneresources.com/" target="_blank">Keystone Resources</a>.
							</div><!--/.col12-->
						</div><!--/.row-->
					</div><!--/.container-->
				</div><!--/.footer_bottom-->
			</footer>
			
		</div><!--/#content_container-->
    [[$scripts]]
</body> 
</html>