		<div class="snap-drawers">
		  <div class="snap-drawer snap-drawer-left">
		      <div class="drawer_container">
		         <nav>[[Wayfinder? &startId=`0` &level=`1`]]</nav>
		      </div><!--/.drawer_container -->
		  </div><!--/.snap-drawer left --> 
		</div><!--/.snap-drawers --> 

		<div id="content_container">
		
			<header>
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<a href="[[~[[++site_start]]]]" class="logo text-hide" title="[[++site_name]]">[[++site_name]]</a>
						</div><!--/.col12-->
					</div><!--/.row-->
					<div class="row">
						<div class="col-lg-12">
							[[Wayfinder? &startId=`0` &level=`1` &outerClass=`hidden-sm hidden-xs`]]
							<div class="snap-trigger-left text-hide visible-sm visible-xs">NAV</div>
						</div><!--/.col12-->
					</div><!--/.row-->
				</div><!--/.container-->
			</header> 