<div class="slide">
	<img src="[[+sliderURL]]" />
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-md-10">
				<span>[[+sliderText]]</span>
			</div><!--/.span12-->
		</div><!--/.row-->
	</div><!--/.container-->
</div><!--/.slide-->