<div class="post row">
	<div class="col-lg-12">
		
		<div class="info">
			<h2><a href="[[++site_url]][[~[[+id]]]]">[[+pagetitle]]</a></h2>
			<span class="date">[[+publishedon:strtotime:date=`%B %e, %Y`]]</span>
		</div><!--/.post_info-->
		
		[[+tv.articleImage:notempty=`<a href="[[++site_url]][[~[[+id]]]]" title="[[+pagetitle]]"><img src="[[+tv.articleImage]]" class="img-responsive" alt="[[+pagetitle]] Image" /></a>`:default=``]]
		
		<div class="desc">
			<p>[[+introtext:is=``:then=`[[+content:ellipsis=`300`:strip_tags=``]]`:else=`[[+introtext]]`]]</p>
		</div>
		
	</div><!--/.col12-->	
</div><!--/.row-->
