[[$head]]
[[$header]]
			 
			<section id="fund_tracker">
				<img src="[[*fundraising_image]]" />
			</section>
	
			<section id="fund_top" class="general light">
				<a href="[[++donate_button]]" target="_blank" class="donate_button">Donate</a>
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							[[*fundraising_content_1]]
						</div><!--/.col12-->
					</div><!--/.row-->
				</div><!--/.container-->
			</section>
			
			<section id="fund_middle" class="general dark">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							[[*fundraising_content_2]]
						</div><!--/.col12-->
					</div><!--/.row-->
				</div><!--/.container-->
			</section>
			
			<section id="fund_bottom" class="general light">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							[[*fundraising_content_3]]
						</div><!--/.col12-->
					</div><!--/.row-->
				</div><!--/.container-->
			</section>
		
			
[[$footer]]
