[[$head]]
[[$header]]
	<section id="general" class="general light">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1>[[*pagetitle]]</h1>
					[[*content]]
				</div><!--/.col12-->
			</div><!--/.row-->
		</div><!--/.container-->
	</section>
[[$footer]] 
