[[$head]]
[[$header]]

			<section id="contact_top" class="general dark">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h1>Contact Us</h1>
						</div><!--/.col12-->
					</div><!--/.row-->
				</div><!--/.container-->
			</section>
				
			<section id="contact_bottom" class="general light">
				<a href="[[++donate_button]]" target="_blank" class="donate_button">Donate</a>
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-ms-6 col-sm-6">
							<address>
								<h2>[[++site_name]]</h2>
								<p>
                  <strong>Office Address:</strong><br />
                  [[++location_address]]<br /> 
  								[[++location_city]], [[++location_state]] [[++location_zip]]<br /><br /> 
  								<strong>ph:</strong> [[++location_phone]]<br />
  								<strong>For General Information:</strong> <a href="mailto:[[++location_email]]">[[++location_email]]</a><br /><br />
  								<strong>Jeff Ross</strong> <br />President &amp; CEO: <a href="mailto:jeross@houstonbotanicgarden.org">jeross@houstonbotanicgarden.org</a><br /><br />
                  <strong>Laura Bodenheimer</strong> <br />Development Director: <a href="mailto:lmbodenheimer@houstonbotanicgarden.org">lmbodenheimer@houstonbotanicgarden.org</a>
								</p>
							</address>
						</div><!--/.col6-->
						<div class="col-lg-6 col-md-6 col-ms-6 col-sm-6"> 
              [[!FormIt?
                &hooks=`spam,fiProcessArrays,FormSave,email`
                &emailTo=`[[*contact_email]]`
                &emailTpl=`tpl-email_contact`
                &emailSubject=`You have received a submission from [[++site_url]]`
                &emailFrom=`noreply@houstonbotanicgarden.com`
                &clearFieldsOnSuccess=`0`
                &fsFormTopic=`contact`
                &successMessage=`<span class="success">Your form has been submitted.</span>`
                &fsFormTopic=`contact`
                &store=`1`
                &storeTime=`1800`
                &validate=`
                username:blank,
                email:email:required,
                fullname:required,
                phone:required,
                comments:required`
              ]]
              [[!FormItRetriever]]
              <form class="form-horizontal" name="contact_form" id="contact_form" method="post" action="[[~[[*id]]]]">
	              [[!+fi.successMessage]]
                <input type="hidden" name="username" value="" />

                <div class="control-group">
                  <label class="control-label" for="fullname">Name <span class="required">*</span></label>
                  <div class="controls">
                    <input type="text" id="fullname"  name="fullname" value="[[!+fi.fullname]]" required>
                    [[!+fi.error.fullname]]
                  </div><!--/.controls-->
                </div><!--/.control-group-->
                
                <div class="control-group">
                  <label class="control-label" for="email">Email Address <span class="required">*</span></label>
                    <div class="controls">
                      <input type="text" id="email" name="email" value="[[!+fi.email]]" required>
                      [[!+fi.error.email]]
                    </div><!--/.controls-->
                  </div><!--/.control-group-->

                <div class="control-group">
                <label class="control-label" for="phone">Phone <span class="required">*</span></label>
                  <div class="controls">
                    <input type="text" id="phone"  name="phone" value="[[!+fi.phone]]" required>
                    [[!+fi.error.phone]]
                  </div><!--/.controls-->
                </div><!--/.control-group-->

                 
                <div class="control-group">
                  <label class="control-label" for="comments">Message <span class="required">*</span></label>
                  <div class="controls">
                    <textarea rows="5" id="comments" name="comments" type="text" required>[[!+fi.comments]]</textarea>
                    [[!+fi.error.comments]]
                  </div><!--/.controls-->
                </div><!--/.control-group-->

                  <div class="control-group">
                    <div class="controls">
                      <input type="submit" value="Submit Form" id="form_submit" class="general_button" />
                    </div><!--/.controls-->
                  </div><!--/.control-group-->
                </form>

						</div><!--/.col6-->
					</div><!--/.row-->
				</div><!--/.container-->
			</section>
			
	
[[$footer]]
