[[$head]]
[[$header]]

			<section id="home_slider">
				<div class="slider">
					[[getImageList?
					   &tvname=`MIGX-home_slider`
					   &tpl=`tpl-migx-home_slider`
					]]
				</div><!--/.slider-->
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="pager"></div>
						</div><!--/.span12-->
					</div><!--/.row-->
				</div><!--/.container-->
			</section>

			<section id="home_top">
				<a href="[[++donate_button]]" target="_blank" class="donate_button">Donate</a>
				<div class="container">
					<div class="row">
						<div class="col-lg-9 col-md-9 col-ms-9">
							[[*home_content_1]]
							<img src="/assets/img/elements/flower1_home_431x462.png" class="flower1"  />
						</div><!--/.col9-->
					</div><!--/.row-->
					<div class="row">
						<div class="col-lg-8 col-md-8 col-ms-9 col-lg-offset-4 col-md-offset-4 col-ms-offset-3">
							[[*home_content_2]]
							<img src="/assets/img/elements/flower2_home_431x462.png" class="flower2" />
						</div><!--/.col12-->
					</div><!--/.row-->
				</div><!--/.container-->
			</section>

			<section id="home_bottom">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-4 col-ms-4 col-sm-3 col-sm-4">
							<a href="[[*home_cta1_link]]" class="cta1">[[*home_cta1_title]]</a>
							[[*home_cta1_desc]]
						</div><!--/.col3-->
						<div class="col-lg-4 col-md-4 col-ms-4  col-sm-4 col-lg-offset-1 ">
							<a href="[[*home_cta2_link]]" class="cta2">[[*home_cta2_title]]</a>
							[[*home_cta2_desc]]
						</div><!--/.col3-->
						<div class="col-lg-3 col-md-4 col-ms-4 col-sm-4 col-lg-offset-1">
							<a href="[[*home_cta3_link]]" class="cta3">[[*home_cta3_title]]</a>
							[[*home_cta3_desc]]
						</div><!--/.col3-->
					</div><!--/.row-->
				</div><!--/.container-->
			</section>

[[$footer]]
