[[$head]]
[[$header]]

			<section id="news_top" class="general dark">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h1>Recent News</h1>
						</div><!--/.col12-->
					</div><!--/.row-->
				</div><!--/.container-->
			</section>
	
			<section id="news_bottom" class="general light">
				<a href="[[++donate_button]]" target="_blank" class="donate_button">Donate</a>
				<div class="container">
					<div class="row">
						<div class="col-lg-7 col-md-8 col-ms-8 col-sm-8">
							[[*content]]
							[[-!getArchives?
							   &parents=`7`
							   &toPlaceholder=`archives`
							]]
						</div><!--/.col8-->
						<div class="col-lg-4 col-md-4 col-ms-4 col-sm-4 col-lg-offset-1" > 
              <ul class="datenav" data-active-month="[[+arc_month_name]]" data-active-year="[[+arc_year]]"> 
	              [[-!Archivist? &parents=`7` &target=`7` &tpl=`tpl-news_archive_list_item`]] 
              </ul>
						</div><!--/.col4--> 
					</div><!--/.row--> 
				</div><!--/.container-->
			</section>
			
	
[[$footer]]
