[[$head]]
[[$header]]

			<section id="about_top" class="general dark">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							[[*about_content_1]]
						</div><!--/.col12-->
					</div><!--/.row-->
				</div><!--/.container-->
			</section>

			<section id="about_middle" class="general light">
				<a href="[[++donate_button]]" target="_blank" class="donate_button">Donate</a>
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-5 col-ms-6">
							[[*about_content_2]]
						</div><!--/.col6-->
						<div class="col-lg-6 col-md-7 col-ms-6 columned_list">
							[[*about_content_3]]
							<img src="/assets/img/elements/flower3_about_431x462.png" class="flower3" /> 
						</div><!--/.col6-->
					</div><!--/.row-->
				</div><!--/.container-->
			</section>

			<section id="about_bottom"  class="general dark">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h1>Frequently Asked Questions</h1>
						</div><!--/.col12-->
					</div><!--/.row-->
					[[getImageList?
            &tvname=`MIGX-about_faq`
            &tpl=`tpl-migx-about_faq`
          ]]

				</div><!--/.container-->
			</section>

[[$footer]]
