[[$head]]
[[$header]]

			<section id="news_top" class="general dark">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h1>[[*pagetitle]]</h1>		
						</div><!--/.col12-->
					</div><!--/.row-->
				</div><!--/.container-->
			</section>
	
			<section id="news_bottom" class="general light">
				<a href="[[++donate_button]]" target="_blank" class="donate_button">Donate</a>
				<div class="container">
					<div class="article row">
						<div class="col-lg-10 col-md-10 col-ms-10">
							<div class="info">
								<span class="date">[[*publishedon:strtotime:date=`%B %e, %Y`]]</span>
								<a href="[[~7]]" class="back_button">Back</a>
							</div><!--/.info-->
							[[*content]]
						</div><!--/.col12-->
					</div><!--/.row-->
				</div><!--/.container-->
			</section>
	
[[$footer]]

