[[$head]]
[[$header]]

			<section id="garden_slider">
				<div class="slider cycle-slideshow"
  				data-cycle-fx="scrollHorz"
      		data-cycle-timeout="0"
  				data-cycle-prev=".arrow.prev"
          data-cycle-next=".arrow.next"
          data-cycle-pager="#custom-pager"
          data-cycle-pager-template="<a href=#>{{letter}}</a>">
					[[getImageList?
					   &tvname=`MIGX-garden_slider`
					   &tpl=`@CODE:<img src="[[+sliderURL]]"  data-letter="[[+sliderText]]" data-slideid="[[+idx]]" />`
					]]
				</div><!--/.slider-->
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="arrow prev text-hide">Previous</div>
							<div id="custom-pager" class="pager"></div>
							<div class="arrow next text-hide">Next</div>
						</div><!--/.col12-->
					</div><!--/.row-->
				</div><!--/.container-->
			</section>

			<section id="garden_top" class="general light">
				<a href="[[++donate_button]]" target="_blank" class="donate_button">Donate</a>
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
  						<div id="output"></div>
							[[getImageList?
    					   &tvname=`MIGX-garden_slider`
    					   &tpl=`@CODE: <div class="sliderContent slide[[+idx]]">[[+sliderContent]]</div>`
    					]]
						</div><!--/.col12-->
					</div><!--/.row-->
				</div><!--/.container-->
			</section>

			<section id="garden_middle" class="general dark">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							[[*gardens_content_2]]
						</div><!--/.col12-->
					</div><!--/.row-->
				</div><!--/.container-->
			</section>

			<section id="garden_bottom" class="general light">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<img src="/assets/img/elements/flower4_botanicgardens_431x650.png" class="flower4" /> 
								[[*gardens_content_3]]
							<img src="/assets/img/elements/flower5_botanicgardens_431x462.png" class="flower5" /> 
						</div><!--/.col12-->
					</div><!--/.row-->
				</div><!--/.container-->
			</section>

[[$footer]]