[[$head]]
[[$header]]
			 
			<section id="site_map">
				<img src="[[*site_image]]" />
			</section>
	
			<section id="site_top" class="general light">
				<a href="[[++donate_button]]" target="_blank" class="donate_button">Donate</a>
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							[[*site_content_1]]
						</div><!--/.col12-->
					</div><!--/.row-->
				</div><!--/.container-->
			</section>
			
			<section id="site_bottom" class="general dark">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							[[*site_content_2]]
						</div><!--/.col12-->
					</div><!--/.row-->
				</div><!--/.container-->
			</section>
			
			
			
[[$footer]]
